* { margin:0; }
ul { list-style-type: none; }
button {
  height:30px;
  line-height:30px;
  background:linear-gradient(to right, blueviolet 0%, blue 100%);
  color:white;
  font-weight: bold;
  border:none;
  margin-right:10px; 
}

#cartTop {
  padding:5px; 
  height:50px;
  line-height: 50px;
  color:white;
  font-weight: bold;
  background: linear-gradient(to right, blueviolet 0%, blue 100%);
}

#cart .reservation {
  float:right;
  background-color:white;
  color:blue;
  border-radius: 20px;
  height:40px;
  width:40px;
  line-height: 40px;
  text-align: center;
  margin-top:5px;
}

#cardHolder {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  border:1px solid grey;
  border-radius: 5px;
  padding:10px;
  width:300px;
  margin:10px;
}

.card img { width:280px; }

.card .star {
  font-size:2em;
  width:140px;
  color:darkgoldenrod;
}

.card .feedback { font-size: 2em; }
.card button { float:right; }
