#cardHolder {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  border:1px solid grey;
  border-radius: 5px;
  padding:10px;
  width:300px;
  margin:10px;
}

.card img { width:280px; }