* { margin:0; }

#cartTop {
  padding:5px; 
  height:50px;
  line-height: 50px;
  color:white;
  font-weight: bold;
  background: linear-gradient(to right, blueviolet 0%, blue 100%);
}

#cart .reservation {
  float:right;
  background-color:white;
  color:blue;
  border-radius: 20px;
  height:40px;
  width:40px;
  line-height: 40px;
  text-align: center;
  margin-top:5px;
}

#cardHolder {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  border:1px solid grey;
  border-radius: 5px;
  padding:10px;
  width:300px;
  margin:10px;
}

.card img { width:280px; }

.card .feedback {
  font-size:2em;
  width:140px;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*background-image: linear-gradient(to right, #ffdd33 0%,yellow 50%,white 50%,white 100%);*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkgoldenrod;
}

.card button {
  height:30px;
  line-height:30px;
  background:linear-gradient(to right, blueviolet 0%, blue 100%);
  color:white;
  font-weight: bold;
  border:none;
}